/* src/app/layout/components/layout/layout.component.scss */
.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 240px;
    background-color: #f5f5f5; // Un color suave para el fondo del sidenav
}

.main-content {
    padding: 20px;
}