@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-purple {
  background-color: var(--mdc-protected-button-container-color, #673ab7); // Color 'primary' del tema Deeppurple-Amber
  color: white;
}

.snackbar-error {
  background-color: #F44336; // Rojo
  color: white;
}